<!-- mathjax -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
  </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    
    tex2jax: {inlineMath: [['$','$']]}
  });
</script>
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "AMS" } } }); </script>


<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet">
<style>
  .post:not(code) {
    font-family: 'Open sans', sans-serif;
  }

  code {
    font-family: 'Source Code Pro', monospace;
    font-size: smaller
  }
</style>